* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

@font-face { font-family: Dustismo; src: url("../fonts/Dustismo.ttf"); }

html { overflow: scroll; }

body { font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; padding: 0; margin: 0; background: url(../img/body-bg.jpg) 0 0 repeat; }

.header { display: block; width: 980px; background: white; margin: 0 auto; }

.menu { padding-top: 65px; padding-bottom: 50px; width: 100%; }

.menu__conteiner { background: #e21725; box-shadow: 2px 2px 4px #cccccc; }

.menu__layout { display: block; min-height: 47px; width: 940px; margin: 0 auto; list-style: none; padding: 0; font-size: 14px; font-weight: 550; background: #e21725; }

.menu__image-left { float: left; margin-left: -19px; }

.meny__image-right { float: right; margin-right: -19px; }

.menu__layout_unit { height: 27px; float: left; }

.menu__item img { padding-top: 12px; float: right; }

.menu__item a { background: #e21725; display: block; color: white; line-height: 47px; padding-left: 20px; padding-right: 20px; font-family: Tahoma, Geneva, sans-serif; }

.menu__item:hover a { text-decoration: none; background: #f72b44; background: linear-gradient(to top, #f72b44, #e21725); }

.logo { float: left; display: block; padding-top: 40px; padding-left: 40px; }

.phone-namber { width: 240px; display: block; margin: 0 auto; padding-top: 50px; font-size: 34px; font-family: Dustismo; font-weight: 600; text-shadow: 1px 1px 2px #cccccc; }

.phone-namber__code { float: left; font-size: 18px; margin-top: 10px; margin-right: 10px; }

.phone-namber__code img { padding-right: 10px; }

.form { display: block; width: 220px; height: 45px; float: right; background: #7fc130; border-radius: 5px; background: linear-gradient(to bottom, #d6eeaf, #a9d864 36%, #7fc130 100%); box-shadow: 1px 1px 2px #a9d864; margin-right: 40px; margin-top: -40px; }

.form a { position: absolute; text-decoration: none; color: white; font-style: italic; font-family: "Times New Roman", Times, serif; text-shadow: 1px 1px 2px #999999; font-size: 18px; line-height: 45px; padding-left: 20px; }

.form img { opacity: 0.3; float: right; padding-top: 16px; padding-right: 20px; }

.content { display: block; width: 980px; background: white; margin: 0 auto; }

.content h3 { padding-left: 40px; font-family: "Times New Roman"; }

.content__map { font-style: italic; padding: 0 40px 20px; color: #666666; }

.content__text-block { margin: 30px 40px 0 40px; border-bottom: 1px solid #cccccc; }

.content__text-block h5 { padding: 10px 0; font-family: Arial, Helvetica, sans-serif; }

.content__text-block_question-mark { display: block; float: left; padding-right: 15px; }

.content__text-block p { text-align: left; color: #666666; display: block; padding-bottom: 30px; }

.footer { display: block; width: 980px; height: 200px; background: white; margin: 0 auto; padding: 0; }

.footer .logo { padding: 0; margin-left: 20px; margin-top: 20px; }

.footer .phone-namber { color: #666666; padding-top: 40px; font-size: 20px; font-weight: normal; }

.footer .phone-namber span { margin-top: 5px; font-size: 12px; }

.footer .phone-namber img { float: left; display: block; margin-top: 3px; }

.footer .footer__mail, .footer__adres, .footer__links, .footer__studio-sites, .footer__copy { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

.footer__mail { margin-top: 20px; }

.footer__mail a { color: #666666; padding-left: 150px; padding-top: 160px; }

.footer__mail img { padding-right: 10px; }

.footer__adres { float: right; margin-top: -60px; margin-right: 40px; }

.footer__links { float: right; margin-top: -18px; margin-right: 40px; }

.footer__links a { color: #666666; }

.footer__studio-sites { float: right; margin-top: 40px; margin-right: 40px; }

.footer__studio-sites a { color: #666666; }

.footer__studio-sites img { margin-top: -3px; margin-right: 10px; float: left; }

.footer__copy { padding: 0; float: left; margin-top: 40px; margin-left: -180px; }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: white; text-shadow: 0 -1px 0 black; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
